# dependencies
node_modules/
.pnp
.pnp.js

# build
.next/
out/
dist/
build/

# env
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
*.tsbuildinfo
